:root {
  --color: rgb(250, 250, 250);
  --background-color: rgb(5, 5, 5);
}

body, .login {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.btn {
	background-color: purple;
}

.balances {
	display: none;
}

#freighter-button {
	display: none;
	margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
  body  { 
  	background: #121212; 
  }

  h1, h2, h3, h4, h5, h6, p {
  	color: #FFFFFF;
  }
}

